* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-color: #fff;
}

.login-signup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    padding: 40px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 10px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.login-signup img {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.login-signup h2 {
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
}

.login-signup .user-box {
    position: relative;
}

.login-signup .user-box {
    margin-bottom: 20px;
}

.login-signup .user-box input {
    width: 100%;
    padding: 10px 0;
    outline: none;
    border: none;
    margin-bottom: 5px;
    background: transparent;
    border-bottom: 1px solid white;
    color: #fff;
    font-size: 16px;
}

.login-signup .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    color: #f8f1f188;
    font-size: 16px;
    padding: 10px 0;
    pointer-events: none;
    transition: .5s;
}

.login-signup .user-box input:focus~label,
.login-signup .user-box input:valid~label {
    top: -20px;
    left: 0;
    font-size: 12px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.btn button {
    padding: 10px 15px;
    width: 40%;
    border: none;
    outline: none;
    background-color: #0093E9;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    transform: .05s;
}

.btn button:hover {
    background-color: #12a2f5;
}

.login-signup h4 {

    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.login-signup h4 span {
    color: #727272;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}

.login-signup h4 span:hover {
    color: #fff;
}

.forgot-pwd {
    position: relative;
    top: -18px;
    right: 0;

}

.forgot-pwd h4 {
    font-weight: 300;
    font-size: 13px;
    font-style: italic;
    text-align: left;
    color: #f8f1f1bb;
    cursor: pointer;
}


.forgot-pwd h4:hover {
    color: #fff;
}

.loader {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 4px solid #fff;
    border-top: 4px solid rgb(255, 179, 39);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.user-details {
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: #fff;
}

.user-details button {
    padding: 10px 15px;
    /* width: 40%; */
    border: none;
    outline: none;
    background-color: #0093E9;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    transform: .05s;
}

.user-details button:hover {
    background-color: #12a2f5;
}